{% extends  layout %}
{% block  content %}
    <div class="container mt-5">
        <h1>La page que vous cherchez n'est pas disponible</h1>
        <a href="/" class="btn btn-lg btn-outline-info">Revenir à l'acceuil</a>
    </div>
{% endblock %}
