{% extends  layout %}
{% block  content %}
    <div class="container">
        <div class="jumbotron mt-5 border border-dark">
            <h1 class="display-4">Bienvenue sur InvestApp !</h1>
            <p class="lead">InvestApp est une application permettant de répondre à des enquêtes et d'en créer.</p>
            <hr class="my-4">
            <p>Commencez dès maintenant !</p>
            <p>
                <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="collapse"
                        data-target="#createEnq"
                        aria-expanded="false" aria-controls="createEnq">
                    Créer une nouvelle enquête ?
                </button>
            </p>
            <div class="mb-5 collapse {% if show == 'c' %} show {% endif %}" id="createEnq">
                <div class="card card-body">
                    <h2>Créer une nouvelle enquête : </h2>
                    <form class="text-left" method="post" action="/enquetes">
                        <div class="form-group">
                            <label for="titre">Titre</label>
                            <input required type="text" class="form-control" id="titre" name="titre"
                                   placeholder="Titre de votre enquête">
                        </div>
                        <div class="form-group">
                            <label for="secret">Mot de passe</label>
                            <input required type="password" class="form-control" id="secret" name="secret">
                            <label for="confirmSecret">Confirmer le mot de passe</label>
                            <input required type="password" class="form-control" id="confirmSecret" name="confirmSecret">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Valider</button>
                    </form>
                </div>
            </div>
            <p>
                <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="collapse"
                        data-target="#AllEnq"
                        aria-expanded="false" aria-controls="AllEnq">
                    Voir toutes les enquetes !
                </button>
            </p>
            <div class="collapse {% if show == 'a' %} show {% endif %}" id="AllEnq">
                <h2 class="mb-2">Toutes les enquêtes :</h2>
                <div class="row">
                    {% for enq in enqs %}
                        <div class="card mx-auto mb-5" style="width: 18rem;">
                            <div class="card-body">
                                <p class="card-text text-muted">{{ enq.id }}</p>
                                <h4 class="card-title">{{ enq.titre }}</h4>
                                <h5 class="card-text">{{ enq.description }}</h5>
                                <div class="list-group-horizontal">
                                    <a href="/enquetes/{{ enq.id }}" class="btn btn-outline-success">Repondre</a>
                                    <a href="/enquetes/{{ enq.id }}/resultats" class="btn btn-outline-info">Résultats</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>vide</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
